<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="tachyons.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <style>
    </style>

</head>
<body class="bg-black-10 dark-green sans-serif pa5">
    
    <!--<div class="fl w-100 pa2">
      <a class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-mid-gray" href="#0">Button Text</a>
    </div>
    -->

    <div class="fl w-25">
    	<div id="content_left">{% block content_left %}{% endblock %}</div>
    </div>

    <div class="fl w-75">
    	<div id="content_right">{% block content_right %}{% endblock %}</div>
    </div>
 
    
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</body>
</html>
