{% extends "base.html" %}

{% set title = title %} <!-- pass title to base.html -->
{% set bg_color_class = meta.color_1 %} <!-- pass title to base.html -->
{% set fg_color_class = meta.color_2 %} <!-- pass title to base.html -->

{% block content_left %}
	<h1 class="f2 tr pr4 pt4 mr4 bt bw1 sans-serif">
		<!-- <img style="height: 50px; float: left; " src = "images/logo.svg"/> --> <!-- todo, make optional from pageparser-->
	{{ title}}
	{{ subtitle}}
	</h1>
{% endblock %}

{% block content_right %}
	{% for post in posts %}
  		<li>
	  		<a href= " {{ post.filename }} "> {{ post.title }} </a>
  		</li>
	{% endfor %}
{% endblock %}
